@page
@model ERP.Pages.RRHH.PlanillaModel
@{
    Layout = "_LayoutRRHH";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>Esta es la pàgina de planill</p>